.App {
  margin: 2rem auto;
  text-align: center;
  color: #054976;
}

table {
  margin: 0 auto;
}

th {
  background-color: #7fb3d6;
  color: #fff;
}

th,
td {
  padding: 5px; 
}

tr:hover {
  background-color: #7fb3d6;
}
